<section id="about" class="gray-section about">
	<div class="container">
		<div class="row m-b-lg">
			<div class="col-lg-12 text-center">
				<div class="navy-line"></div>
				<h1>&Uuml;ber uns</h1>
			</div>
		</div>
		<div class="row m-b-xlg">
			<div class="col-sm-offset-1 col-sm-5 wow fadeIn">
				<h2>
					<i class="fa fa-long-arrow-up fa-fw fa-2x"></i> Die Mission
				</h2>
				<p class="description">NetzwerkWohnen wurde 2014 von Christian
					Senger ins Leben gerufen.</p>
				<p class="description">Profis aus unterschiedlichen Bereichen
					kommen seitdem in Kontakt und tauschen sich regelm&auml;&szlig;ig aus.</p>
				<p class="description">Das Netzwerk richtet sich vor allem an
					Raumausstatter, Planer, Einrichter, Architekten, Parkettleger,
					Maler, Polsterer und Tischler. Aber auch an alle anderen, die sich
					beruflich mit dem Thema Wohnen befassen.</p>
			</div>
			<div class="col-sm-5 wow fadeIn">
				<h2>
					<i class="fa fa-road fa-fw fa-2x"></i> Die Vision
				</h2>
				<p class="description">Die Vision des Netzwerks ist es die
					Experten eines jeden Fachbereichs zusammen zu bringen und den
					Austausch untereinander zu f&ouml;rdern.</p>
				<p class="description">Durch diesen Wissenstransfer soll es
					jedem Mitglied m&ouml;glich sein effektiver und innovativer zu arbeiten
					und seine Marktposition gegen&uuml;ber seinen Kunden zu st&auml;rken.</p>
			</div>
		</div>
		<div class="row m-t-lg">
			<div class="col-sm-offset-2 col-sm-4 wow fadeInLeft">
				<div class="team-member">
					<img th:src="@{/img/we/christian-senger.png}"
						class="img-responsive img-circle" alt="Christian Senger" />
					<h4>
						<span class="navy">Christian</span> Senger
					</h4>
					<p class="description">Gr&uuml;nder und Vision&auml;r</p>
				</div>
			</div>
			<div class="col-sm-4 wow fadeInRight">
				<div class="team-member">
					<img th:src="@{/img/we/mirco-gatz.png}"
						class="img-responsive img-circle" alt="Mirco Gatz" />
					<h4>
						<span class="navy">Mirco</span> Gatz
					</h4>
					<p class="description">IT-Systempartner und technisch
						Verantwortlicher</p>
				</div>
			</div>
		</div>
	</div>
</section>