<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:include="backend/layout :: layout">
<head>
	<title th:fragment="title" th:text="#{__${SelectedFolder}__} + ' | info@netzwerkwohnen.org | NETZWERK wohnen'"></title>
	<th:block th:fragment="styles">
		<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet" />
	</th:block>
	<th:block th:fragment="scripts">
		<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
		<script th:src="@{/js/custom.js}"></script>
	</th:block>
</head>
<body>
	<th:block th:fragment="content">
		<th:block th:include="/messages/inc/messageNotifications"></th:block>
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-9">
				<h2>Nachrichten</h2>
				<ol class="breadcrumb">
					<li>
						<a th:href="@{/network}">Dashboard</a>
					</li>
					<li class="active">
						<strong>Nachrichten</strong>
					</li>
				</ol>
			</div>
		</div>
		
		<div class="wrapper wrapper-content">
        	<div class="row">
            	<div class="col-lg-3" th:include="messages/inc/toolbar"></div>
            	<div class="col-lg-9 animated fadeIn">
            		<div class="mail-box-header">
		                <form method="get" action="index.html" class="pull-right mail-search hidden">
        		            <div class="input-group">
                		        <input type="text" class="form-control input-sm" name="q" placeholder="Eingang durchsuchen" />
                        		<div class="input-group-btn">
		                            <button type="submit" class="btn btn-sm btn-primary">
		                                Suchen
		                            </button>
	                        	</div>
	                    	</div>
                		</form>
		                <h2 th:text="#{__${SelectedFolder}__}">Folder Name</h2>
		                <div class="mail-tools tooltip-demo m-t-md hide">
		                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh</button>
		                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
		                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i> </button>
		                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button>
		                </div>
            		</div>
               		<div class="mail-box">
                		<table class="table table-hover table-mail">
                			<tbody>
                				<tr class="read" th:each="mail : ${Mails}">
				                    <td class="check-mail">
				                        <input type="checkbox" class="i-checks" />
				                    </td>
				                    <td class="mail-contact">
				                    	<a th:if="${SelectedFolder == @MailManager.FOLDER_DRAFTS}" 
			                    			th:href="@{/network/messages/mail/compose (draftUUID = ${mail.UUID})}">
		                    				<span th:if="${mail.hasRecipients()}" th:each="rec : ${mail.Recipients}" th:text="${rec}"></span>
		                    				<span th:unless="${mail.hasRecipients()}"><i>keine Empfänger</i></span>
		                    			</a>
		                    			<a th:unless="${SelectedFolder == @MailManager.FOLDER_DRAFTS}" 
			                    			th:href="@{/network/messages/details/{uuid}(uuid = ${mail.UUID})}">
		                    				<span th:each="rec : ${mail.Recipients}" th:text="${rec}"></span>
		                    			</a>
			                    	</td>
				                    <td class="mail-subject">
				                    	<a th:if="${SelectedFolder == @MailManager.FOLDER_DRAFTS}" 
				                    			th:href="@{/network/messages/mail/compose (draftUUID = ${mail.UUID})}">
				                    		<span th:if="${mail.hasSubject()}" th:text="${mail.Subject}"></span>
		                    				<span><i>kein Betreff</i></span>
		                    			</a>
		                    			<a th:unless="${SelectedFolder == @MailManager.FOLDER_DRAFTS}" 
				                    			th:href="@{/network/messages/details/{uuid} (uuid = ${mail.UUID})}" 
				                    			th:text="${mail.Subject}">
		                    				subject
		                    			</a>
			                    	</td>
				                </tr>
                			</tbody>
                		</table>
                	</div>
            	</div>
        	</div>
        </div>
	</th:block>
</body>
</html>