<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:include="backend/layout :: layout">
<head>
	<title th:fragment="title" th:text="${Mode == 'create'} ? 'Neuen Benutzer erstellen | NETZWERK wohnen' : 'Zugangsdaten bearbeiten | ' + ${CredentialsForm.Email} + ' | NETZWERK wohnen'"></title>
</head>
<body>
	<th:block th:fragment="content">
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-9">
				<h2>Zugangsdaten bearbeiten</h2>
				<ol class="breadcrumb">
					<li>
						<a th:href="@{/network}">Dashboard</a>
					</li>
					<li>
						<a th:href="@{/network/users/}">Mitglieder</a>
					</li>
					<li th:unless="${Mode == 'create'}">
						<a th:href="@{/network/users/{name}/(name = ${User.Username})}">
							Teilnehmerinformationen: <span th:text="${User.DisplayName}"></span>
						</a>
					</li>
					<li class="active" th:unless="${Mode == 'create'}">
						 <strong>Zugangsdaten bearbeiten</strong>
					</li>
					<li th:if="${Mode == 'create'}">
						<strong>Neuer Benutzer</strong>
					</li>
				</ol>
			</div>
		</div>
		<div class="wrapper wrapper-content animated fadeIn">
			<div class="row">
				<form method="POST" th:action="${action}" 
						th:with="action=${Mode != null AND Mode == 'create'} ? @{/network/users/createCredentials.do} : @{/network/users/{name}/editCredentials.do(name = ${User.Username})}"
						th:object="${CredentialsForm}" data-ref="credentials-form"
						class="form-horizontal">
					<input type="hidden" th:field="*{UUID}" />
					<input type="hidden" th:unless="${CurrentUser.isAdmin() OR !User.hasRole('ROLE_REGISTERED_USER')}" name="roles" value="ROLE_REGISTERED_USER" />
					<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
						<div class="ibox float-e-margins">
	                        <div class="ibox-title">
	                            <h5>Zugangsdaten</h5>
	                        </div>
							<div class="ibox-content">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
										<div class="form-group">
											<th:block th:replace="common/formFragments :: inputText('email', 'Email', 100,'col-sm-2 control-label', 'col-sm-9 col-xs-12', true)"></th:block>
										</div>
										<div class="form-group">
											<th:block th:replace="common/formFragments :: inputPassword('password', 'Passwort', 25, 'col-sm-2 control-label', 'col-sm-8 col-xs-12', false)"></th:block>
										</div>
										<div class="form-group">
											<th:block th:replace="common/formFragments :: inputPassword('passwordConfirmation', 'wiederholen', 25, 'col-sm-2 control-label', 'col-sm-8 col-xs-12', false)"></th:block>
										</div>
										<div th:if="${CurrentUser.isAdmin()}" class="hr-line-dashed"></div>
										<div th:if="${CurrentUser.isAdmin()}" class="form-group">
											<label class="col-sm-3 control-label">
												<strong>Berechtigung</strong>
											</label>
											<div class="col-sm-6">
												<div>
													<label> 
														<input type="checkbox" name="roles" value="ROLE_REGISTERED_USER" th:checked="${Mode == 'create' OR CredentialsForm.hasRole('ROLE_REGISTERED_USER')}"/> Normaler Benutzer
													</label>
												</div>
												<div>
													<label> 
														<input type="checkbox" name="roles" value="ROLE_ADMIN" th:checked="${CredentialsForm.hasRole('ROLE_ADMIN')}"/> Administrator
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 hidden-xs hidden-sm hidden-md">
										<i class="fa fa-sign-in big-icon"></i>
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<div class="col-sm-offset-2">
										<a th:with="cancel=${Mode != null AND Mode == 'create'} ? @{/network/users/} : @{/network/users/{name}/(name = ${User.Username})}" 
												th:href="${cancel}" class="btn btn-white">
											Abbrechen
										</a>
										<button class="btn btn-primary" type="submit"
											th:text="${Mode != null AND Mode == 'create'} ? 'Mitglied erstellen' : 'Zugangsdaten speichern'">Zugangsdaten speichern</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</th:block>
</body>
</html>