<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5>Lieferanten</h5>
		<a th:href="@{/network/suppliers/byuser/{uname}/edit (uname = ${User.Username})}"
				class="btn btn-warning btn-xs m-l-sm m-t-n-xs"
				th:if="${CurrentUser.UUID == User.UUID OR CurrentUser.isAdmin()}">
			<i class="fa fa-pencil fa-fw"></i>
		</a>
	</div>
	<div class="ibox-content">
		<table class="table" th:if="${Suppliers.TotalElements > 0}">
			<tbody>		
				<tr th:each="supplier : ${Suppliers.Content}">
					<td>
						<span th:unless="${supplier.isApproved()}" class="label label-danger m-r-xs">
							<i class="fa fa-question" title="Freigabe steht noch aus"></i>
						</span>
						<a th:href="@{/network/suppliers/{name}/ (name = ${@URLUtilsService.encodeURLSegments(supplier.Name)})}">
							<span th:text="${supplier.Name}">Supplier</span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<p th:if="${Suppliers.TotalElements == 0}">
			<strong th:if="${CurrentUser.UUID == User.UUID}">Du hast noch keine Lieferanten angegeben!</strong>
			<strong th:unless="${CurrentUser.UUID == User.UUID}">Das Mitglied hat noch keine Lieferanten angegeben!</strong>
		</p>
	</div>
</div>
