<th:block th:fragment="byUserList (Users)">
	<div class="clients-list">
		<table class="table table-striped table-hover">
			<tbody>
				<tr th:each="user : ${Users}">
				    <td class="client-avatar text-center">
				    	<a class="client-link" th:href="@{/network/users/{name}/ (name = ${user.Username})}" 
				    			th:title="${user.DisplayName}"
				    			th:include="users/inc/profileImages :: xxs(${user})"></a>
				    </td>
			    	<td>
			    		<a class="client-link" th:href="@{/network/users/{name}/ (name = ${user.Username})}" th:text="${user.DisplayName}"></a>
			    	</td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>