<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		th:include="backend/layout :: layout">
<head>
	<title th:fragment="title">Dashboard | NETZWERK wohnen</title>
</head>
<body>
	<div class="wrapper wrapper-content animated fadeInRight" th:fragment="content">
		<th:block th:include="/dashboard/inc/dashboardNotifications"></th:block>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins hidden-sm hidden-md hidden-lg">
					<div class="ibox-content">
						<div class="search-form">
							<form role="search" method="GET" th:action="@{/network/search}">
								<div class="input-group">
									<input type="text" placeholder="Suchen..." name="q" class="form-control input-lg" />
									<div class="input-group-btn">
										<button class="btn btn-lg btn-primary" type="submit">
											<i class="fa fa-search fa-fw"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Was gibt es neues in Version 0.9?</h5>
					</div>
					<div class="ibox-content">
						<dl class="dl-horizontal">
							<dt>Lieferanten</dt>
							<dd>
								<p>
									Jedes Mitglied kann seine Lieferanten pflegen und darüber auch gefunden werden.
								</p>
							</dd>
							<dt class="m-b-sm">Globale Suche für<br />Lieferanten</dt>
							<dd>
								<p>
									Lieferanten und Mitglieder die diese gepflegt haben lassen sich über die globale Suche finden.
								</p>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>