<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:include="frontend/layout :: layout">
<head>
	<title th:fragment="title">NETZWERK wohnen - von Profis f&uuml;r Profis</title>
	<th:block th:fragment="styles">
		<link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet" />
	</th:block>
	<th:block th:fragment="scripts">
		<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>
		<script th:src="@{/js/config.js}"></script>
	</th:block>
</head>
<body>
	<th:block th:fragment="content">
		<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
		    <ol class="carousel-indicators">
		        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
		        <li data-target="#inSlider" data-slide-to="1"></li>
		    </ol>
    		<div class="carousel-inner" role="listbox">
        		<div class="item active">
		            <div class="header-back" th:style="'background: url(' + @{/img/teaser/teaser_1.png} + ');'"></div>
				</div>
				<div class="item">
		            <div class="header-back" th:style="'background: url(' + @{/img/teaser/teaser_2.png} + ');'"></div>
		        </div>
    		</div>
		    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
		        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		        <span class="sr-only">Previous</span>
		    </a>
		    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
		        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		        <span class="sr-only">Next</span>
		    </a>
		</div>

		<th:block th:include="frontend/inc/features"></th:block>
		<th:block th:include="frontend/inc/about"></th:block>
		<th:block th:include="frontend/inc/contact"></th:block>
	</th:block>
</body>
</html>